$background-dark: #2a363b;
$background-dark-alt: #dadada;
$soft-white: #fffef9;

.container {
  display: flex;
  justify-content: center;
  transition: 400ms;
}

.search {
  height: 2rem;
  width: 10rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  padding: 5px 1rem;
  color: #555;
  background-color: $background-dark-alt;
  font-size: 1.3rem;
  transition: 200ms;
  &:focus {
    color: #000;
    background-color: $background-dark-alt;
  }

  @media screen and (min-width: 900px) {
    width: 20rem;
  }
}

.submit {
  height: 2rem;
  border-radius: 0 5px 5px 0;
  outline: none;
  border: none;
  padding: 5px 1rem;

  color: #fff;
  background-color: #555;
  font-size: 1rem;
  font-weight: bold;
  transition: 200ms;

  cursor: pointer;

  &:hover {
    color: $background-dark-alt;
    background-color: $background-dark;
  }
}
