$background-dark-alt: #2a363b;
$soft-white: #eae8f7;

.container {
  width: 30%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  object-fit: contain;
  text-align: center;
  border-radius: 10px;
  transition: 300ms;
  border: 1px solid #1818180a;
  box-shadow: 2px 2px 15px 5px #dadada;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & * {
    margin: 0.5rem 0;
    outline: none;
    border: none;
  }
  & img {
    cursor: pointer;
    position: relative;
    height: 28em;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    filter: saturate(1);
    transition: 400ms;
    box-shadow: 0 0 15px 2px #e7e5e5;
  }
  & .title {
    font-weight: 400;
    font-size: 1.2rem;
    height: 5rem;
    overflow: hidden;
    display: grid;
    place-items: center;
    color: black;
  }
  & .price {
    font-weight: 600;
    font-size: 1rem;
    height: 1rem;
  }
  & button {
    width: 60%;
    height: 3rem;
    color: $soft-white;
    background-color: $background-dark-alt;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: 200ms;
    backface-visibility: hidden;
    cursor: pointer;
    &:hover {
      color: $background-dark-alt;
      background-color: $soft-white;
    }
  }
  &:hover {
    box-shadow: 0 0 15px 2px #e7e5e5;
    transition: 200ms;
    transform: scale(1.04) translate3d(0, 0, 0) perspective(1px);
    z-index: 10;
  }
}
