.resultsPane {
  max-width: 20rem;
  min-width: 20rem;
  min-height: 40rem;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 1rem;
  background-color: #dedeeb;
}

.cap {
  background-color: #343142;
  color: #fff;
  height: 5rem;
  border-radius: 10px 0 0 0;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & p {
    margin: 0;
  }
}
