.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 1.5rem;
  position: relative;
  &.empty img {
    filter: opacity(0.1);
  }
  & .star {
    margin: 0 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    filter: opacity(0.9);
  }
  & .textRating {
    cursor: pointer;
    height: 1.5rem;
    display: none;
    width: 10rem;
    left: calc(50% - 5rem);
    position: absolute;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.75rem;
    animation: fade 1000ms backwards;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff,
      0 0 5px #fff;
    &.visible {
      transform: scale(1.04) translate3d(0, 0, 0) perspective(1px);
      animation: fade 500ms forwards;
      display: inline-block;
      & + .star {
        filter: opacity(0.2);
      }
    }
  }
}

@keyframes fade {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}
