$background: #edebf37c;

.searchResults {
  position: relative;
  margin-top: 2rem;
  height: 85vh;
  background-color: $background;
  border-radius: 10px;
  width: 95%;
  left: 2.5%;
  display: flex;
}

.products {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: spread-around;
  overflow: auto;
}

.blur {
  animation: blur 1000ms;
}

@keyframes blur {
  0% {
    filter: blur(50px);
  }
  100% {
    filter: blur(0);
  }
}
